<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Media</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <% if @audio.any? %>
                <h4>Tracks
                    <small>Uploaded songs</small>
                </h4>
                    <% @audio.each do |track| %>
                        <p><%= track.audio_file_name %></p>
                        <%= form_tag({controller: "contents", action: "destroy"}, method: 'delete', id: 'delete-form') do %>
                            <%= hidden_field_tag 'contents[delete_audio]', track.id %>
                            <%= submit_tag "Delete", class: 'btn btn-danger btn-invitation' %>
                        <% end %>
                    <% end %>
            <% end %>
        </div>

        <div class="col-md-3">
<%= form_tag({controller: "contents", action: "update"}, multipart: true, id: 'upload-form') do %>
                <% if @audio.length < 5 %>
                    <h4>Upload
                        <small>Put new track on your profile</small>
                    </h4>
                    <%= file_field_tag 'contents[audio_file]' %>
                <% end %>
            <h4>Website
                <small>Your personal website / blog</small>
            </h4>
                <%= text_field_tag 'contents[website]', @website, class: 'form-control' %>
                <h4>Youtube
                    <small>Put a video on your profile</small>
                </h4>
                <%= text_field_tag 'contents[youtube]', @youtube, class: 'form-control' %>

                <div class="row">
                    <div class="col-md-12">
                        <div class="action">
                            <%= submit_tag "Save", class: 'btn btn-primary' %> 
<% end %>
                        </div>
                    </div>
                </div>


        </div>
        <div class="col-md-6">
        </div>
    </div>

</div>
