<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Media</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <% if @audio.any? %>
                <h4><%= I18n.t :contents_tracks %>
                    <small><%= I18n.t :contents_tracks_sub %></small>
                </h4>
                    <% @audio.each do |track| %>
                        <p><%= track.audio_file_name %></p>
                        <%= form_tag({controller: "contents", action: "destroy"}, method: 'delete', id: 'delete-form') do %>
                            <%= hidden_field_tag 'contents[delete_audio]', track.id %>
                            <%= submit_tag I18n.t(:delete_button), class: 'btn btn-danger btn-invitation' %>
                        <% end %>
                    <% end %>
            <% end %>
        </div>

        <div class="col-md-3">
            <%= form_tag({controller: "contents", action: "update"}, multipart: true, id: 'upload-form') do %>
                <% if @audio.length < 5 %>
                    <h4><%= I18n.t :contents_upload %>
                        <small><%= I18n.t :contents_upload_sub %></small>
                    </h4>
                    <%= file_field_tag 'contents[audio_file]' %>
                        <div class="sk-fading-circle onAudioUpload" id="loader">
                          <div class="sk-circle1 sk-circle"></div>
                          <div class="sk-circle2 sk-circle"></div>
                          <div class="sk-circle3 sk-circle"></div>
                          <div class="sk-circle4 sk-circle"></div>
                          <div class="sk-circle5 sk-circle"></div>
                          <div class="sk-circle6 sk-circle"></div>
                          <div class="sk-circle7 sk-circle"></div>
                          <div class="sk-circle8 sk-circle"></div>
                          <div class="sk-circle9 sk-circle"></div>
                          <div class="sk-circle10 sk-circle"></div>
                          <div class="sk-circle11 sk-circle"></div>
                          <div class="sk-circle12 sk-circle"></div>
                        </div>
                <% end %>
            <h4><%= I18n.t :contents_website %>
                <small><%= I18n.t :contents_website_sub %></small>
            </h4>
                <%= text_field_tag 'contents[website]', @website, class: 'form-control' %>
                <h4><%= I18n.t :contents_youtube %>
                    <small><%= I18n.t :contents_youtube_sub %></small>
                </h4>
                <%= text_field_tag 'contents[youtube]', @youtube, class: 'form-control' %>

                <div class="row">
                    <div class="col-md-12">
                        <div class="action">
                            <%= submit_tag I18n.t(:save_button), class: 'btn btn-primary', id: 'save-contents-button' %> 
            <% end %>
                            <%= link_to I18n.t(:go_back_button), user_path(current_user), class: 'btn btn-primary' %>
                        </div>
                    </div>
                </div>


        </div>
        <div class="col-md-6">
        </div>
    </div>

</div>
