<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <h1><%= I18n.t :mailer_greeting %> <%= @recipient.name %></h1>
      <p><%= I18n.t(:mailer_message, :name => @sender.name) %></p>
    <p><%= @message %></p>
    <p>
        <%= I18n.t :mailer_reply %> <%= content_tag(:a, I18n.t(:mailer_reply_link), href: "mailto:#{@sender.email}") %>.
    </p>
  </body>
</html>
