<div class="container">
    <h2><%= I18n.t :devise_resend_unlock %></h2>

    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label I18n.t(:email) %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <br>

      <div class="actions">
        <%= f.submit I18n.t(:devise_resend_unlock), class: 'btn btn-primary' %>
      </div>

      <br>
      
    <% end %>

    <%= render "devise/shared/links" %>
</div>
