<div class="description-wrapper">
        <h3><%= I18n.t :bio %></h3>
        <p>
        <b><%= I18n.t :location %>: </b><%= user.location.place_address if user.location %>
        </p>
    <% if !user.description.nil? && !user.description.empty? %>
        <div class="description">
            <%= user.description %>
        </div>
    <% else %>
        <em><%= I18n.t :users_no_description %></em>
    <% end %>

    <div class="edit">
        <% if can_edit?(user) %>
            <%= link_to I18n.t(:edit_profile_button), edit_user_path(current_user), class: 'btn btn-primary' %>
        <% end %>
    </div>
</div>
