<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Email to <%= to.name %></h4>
      </div>
        <%= form_tag({controller: 'emails', action: 'create'}, method: 'post') do %>
      <div class="modal-body">
          <h6>Message</h6>
            <%= text_area_tag 'email[body]', nil, class: 'form-control' %>
      <div class="modal-footer">
            <%= hidden_field_tag 'email[from]', current_user.id %>
            <%= hidden_field_tag 'email[to]', to.id %>
            <%= submit_tag "Send", class: 'btn btn-primary', id: 'email-button' %>
          <div class="sk-fading-circle" id="loader">
              <div class="sk-circle1 sk-circle"></div>
              <div class="sk-circle2 sk-circle"></div>
              <div class="sk-circle3 sk-circle"></div>
              <div class="sk-circle4 sk-circle"></div>
              <div class="sk-circle5 sk-circle"></div>
              <div class="sk-circle6 sk-circle"></div>
              <div class="sk-circle7 sk-circle"></div>
              <div class="sk-circle8 sk-circle"></div>
              <div class="sk-circle9 sk-circle"></div>
              <div class="sk-circle10 sk-circle"></div>
              <div class="sk-circle11 sk-circle"></div>
              <div class="sk-circle12 sk-circle"></div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
