<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Email to <%= to.name %></h4>
      </div>
        <%= form_tag({controller: 'emails', action: 'create'}, method: 'post') do %>
      <div class="modal-body">
          <h6>Message</h6>
            <%= text_area_tag 'email[body]', nil, class: 'form-control' %>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <%= hidden_field_tag 'email[from]', current_user.email %>
            <%= hidden_field_tag 'email[from_name]', current_user.name %>
            <%= hidden_field_tag 'email[to]', to.email %>
            <%= hidden_field_tag 'email[to_name]', to.name %>
            <%= submit_tag "Send", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
