<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#performances-future" aria-controls="performances-future" role="tab" data-toggle="tab"><%= I18n.t :users_performing %></a></li>
      <li role="presentation"><a href="#performances-past" aria-controls="performances-past" role="tab" data-toggle="tab"><%= I18n.t :users_performed %></a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">

      <div role="tabpanel" class="tab-pane active" id="performances-future">
          <% if events[:scheduled].any? %>
              <dl class="events-tab dl-horizontal">
                <% events[:scheduled].each do |performance| %>
                    <%= content_tag(:dt, link_to(performance.name, user_event_path(performance.user_id, performance.id))) %>
                    <%= content_tag(:dd, performance.start_time.strftime("%d. %m. %Y %H:%M")) %>
                <% end %>
              </dl>
        <% end %>
      </div>

      <div role="tabpanel" class="tab-pane" id="performances-past">
          <% if events[:past].any? %>
              <dl class="events-tab dl-horizontal">
                <% events[:past].each do |performance| %>
                    <%= content_tag(:dt, link_to(performance.name, user_event_path(performance.user_id, performance.id))) %>
                    <%= content_tag(:dd, performance.end_time.strftime("%d. %m. %Y %H:%M")) %>
                <% end %>
              </dl>
        <% end %>
      </div>
  </div>
</div> 
