<div class="container">
    <% if @performers.any? %>
        <div id="performers-table">
            <table class="table table-hover" id="performers">
                <thead>
                    <th></th>
                    <th data-sort="string-ins" class="table-sortable"><%= I18n.t :name %></th>
                    <th data-sort="string-ins" class="table-sortable"><%= I18n.t :location %></th>
                    <th data-sort="int" class="table-sortable"><%= I18n.t :rating %></th>
                    <th><%= I18n.t :tags %></th>
                </thead>
                <tbody>
                    <% @performers.each do |performer| %>
                        <tr>
                            <td><%= link_to(image_tag(performer.avatar.url(:thumb)), user_path(performer.id)) %></td>
                            <td><%= link_to(performer.name, user_path(performer.id)) %></td>
                            <td><%= performer.location ? performer.location.place_name : nil%></td>
                            <td data-sort-value=<%= performer.rating %>><%= rating_stars(performer.rating) %></td>
                            <td><%= list_tags(performer, n = 2) %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
    <% end %>
        </div>
</div>
