<div class="container">

<div class="row">
    <div class="col-md-12">
        <h1>
            <%= @user.name %>
        </h1>
        <p>
            <% if @user.role == 0 %>
                <span class="organizer-badge resource-badge"></span>
            <% else %>
                <span class="performer-badge resource-badge"></span>
            <% end %>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <%= image_tag @user.avatar.url, class: "img-responsive" %>
    </div>

    <div class="col-md-4">
        <%= render "users/description", user: @user %>
    </div>

    <div class="col-md-5">
        <% if @user.organizer %>
            <%= render "users/organizer_events", events: @user_data[:events] %>
        <% end %>

        <% if @user.performer %>
            <%= render "users/performer_events", events: @user_data[:performances] %>
        <% end %>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <%= render "users/reviews", reviews: @reviews %>
    </div>

    <div class="col-md-9">
        <%= render "users/media", website: @user_data[:website], youtube: @user_data[:youtube], audio: @user_data[:audio] %>
    </div>
</div>


<% if user_signed_in? && can_invite_to_event? %>
    <%= render "invitations/send_invitation_to_performer" %>
<% end %>

<%= render "users/dashboard", user: @user, admin_data: @admin_data, reviews_to_write: @reviews_to_write %>

</div>
