<h1><%= @user.name %></h1>
<h3><%= @user.role_name %></h3>
<p>
    <%= image_tag @user.avatar.url %>
</p>
<% if can_edit?(@user) %>
    <%= link_to "Edit", edit_user_path(current_user) %>
<% end %>
<p>
    <% unless @user.description.nil? %>
        <div>
            <%= @user.description %>
        </div>
        <div>
            <%= @user.location %>
        </div>
    <% end %>
</p>

<% if user_signed_in? && can_edit?(@user)%>
    <h3>Invitations</h3>

    <h4>Inbox</h4>
    <%= render 'invitations_inbox', invitations: @invitations_inbox %>

    <h4>Outbox</h4>
    <%= render 'invitations_outbox' %>
<% end %>

<% if @user.events.any? %>
    <h3>Events</h3>
    <% @user.events.each do |event| %>
    <ul>
        <%= content_tag(:li, link_to(event.name, user_event_path(event.user_id, event.id))) %>
    </ul>
    <% end %>
<% end %>
