<h1><%= @user.name %></h1>
<h3><%= @user.role_name %></h3>
<p>
    <%= image_tag @user.avatar.url %>
</p>
<% if can_edit?(@user) %>
    <%= link_to "Edit", edit_user_path(current_user), class: 'btn btn-warning' %>
<% end %>
<p>
    <% unless @user.description.nil? %>
        <div>
            <%= @user.description %>
        </div>
        <div>
            <%= @user.location %>
        </div>
    <% end %>
</p>

<% if @user.events.any? %>
    <h3>Events</h3>
    <% @user.events.each do |event| %>
    <ul>
        <%= content_tag(:li, link_to(event.name, user_event_path(event.user_id, event.id))) %>
    </ul>
    <% end %>
<% end %>

<% if @user.performer && @user.scheduled_performances.any? %>
    <h3>Performances</h3>
    <ul>
        <% @user.scheduled_performances.each do |performance| %>
            <%= content_tag(:li, link_to(performance.name, user_event_path(performance.user_id, performance.id))) %>
        <% end %>
    </ul>
<% end %>

<% if user_signed_in? && can_invite_to_event? %>
    <%= render "invitations/send_invitation_to_performer" %>
<% end %>



<% if user_signed_in? && can_edit?(@user) %>

  <h3>Invitations</h3>

  <h4>Confirmed</h4>
  <%= render 'invitations_confirmed', invitations: @invitations_confirmed %>

  <h4>Turned down</h4>
  <%= render 'invitations_turned_down', invitations: @invitations_turned_down %>

  <h4>Inbox</h4>
  <%= render 'invitations_inbox', invitations: @invitations_inbox %>

  <h4>Outbox</h4>
  <%= render 'invitations_outbox', invitations: @invitations_outbox %>

  <h4>Accepted</h4>
  <%= render 'invitations_accepted', invitations: @invitations_accepted %>

  <h4>Rejected</h4>
  <%= render 'invitations_rejected', invitations: @invitations_rejected %>

<% end %>
