<div class="container">

<div class="row">
    <div class="col-md-12">
        <h1>
            <%= @user.name %>
        </h1>
        <p>
            <% if @user.role == 0 %>
                <span class="organizer-badge resource-badge"></span>
            <% else %>
                <span class="performer-badge resource-badge"></span>
            <% end %>
            <%= rating_stars(@user_data[:rating]) %>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-3">

        <div class="row">
            <div class="col-md-12">
                <%= image_tag @user.avatar.url, class: "img-responsive" %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <%= render "users/social_panel", user: @user %>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <%= render "users/description", user: @user %>
    </div>

    <div class="col-md-5">
        <% if @user.organizer %>
            <%= render "users/organizer_events", events: @user_data[:events] %>
        <% end %>

        <% if @user.performer %>
            <%= render "users/performer_events", events: @user_data[:performances] %>
        <% end %>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <%= render "users/reviews", reviews: @reviews %>

    </div>

    <div class="col-md-4">
        <%= render "users/audio", website: @user_data[:website], audio: @user_data[:audio] %>
    </div>

    <div class="col-md-5">
        <%= render "users/video", youtube: @user_data[:youtube] %>
    </div>
</div>




<% if user_signed_in? && can_invite_to_event? %>
    <%= render "invitations/send_invitation_to_performer" %>
<% end %>

<%= render "users/dashboard", user: @user, admin_data: @admin_data, reviews_to_write: @reviews_to_write %>

<% if user_signed_in? %>
    <%= render "users/message", to: @user %>
<% end %>

</div>
