<div class="row">
    <div class="col-md-6">
        <h1><%= @user.name %></h1>
        <h3><%= @user.role_name %></h3>
    </div>

    <div class="col-md-6">
        <div class="edit">
            <% if can_edit?(@user) %>
                <%= link_to "Edit", edit_user_path(current_user), class: 'btn btn-warning' %>
            <% end %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <%= image_tag @user.avatar.url, class: "profile-avatar" %>
    </div>

    <div class="col-md-6">
        
      <!-- nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Info</a></li>
        <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

          <div role="tabpanel" class="tab-pane active" id="info">
            <div class="profile-description">
                <% unless @user.description.nil? %>
                    <div>
                        <%= @user.description %>
                    </div>
                    <div>
                        <%= @user.location %>
                    </div>
                <% end %>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="reviews">
            <div class="profile-reviews">
                <% if @reviews.any? %>
                    <% @reviews.each do |review_id, review| %>
                        <div class="review">
                            <p><b>Rating: </b><%= @reviews[review_id][:review][:rating] %> <b>From: </b><%= link_to(@reviews[review_id][:reviewer].name, user_path(@reviews[review_id][:reviewer].id)) %></p>
                            <p><%= @reviews[review_id][:review].text %></p>
                        </div>
                    <% end %>
                <% end %>
            </div>
          </div>

      </div>

        <div class="row">
            <div class="col-md-12">
                <div id="audioplayer">
                    Audioplayer here
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">

    <div class="col-md-6">
        Photogallery here
    </div>

    <div class="col-md-6">
        <% if @user.organizer %>
            <div>
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#events-future" aria-controls="events-future" role="tab" data-toggle="tab">Organizing</a></li>
                <li role="presentation"><a href="#events-past" aria-controls="events-past" role="tab" data-toggle="tab">Organized</a></li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">

                  <div role="tabpanel" class="tab-pane active" id="events-future">
                      <% if @user_data[:events][:scheduled].any? %>
                            <% @user_data[:events][:scheduled].each do |event| %>
                            <ul>
                                <%= content_tag(:li, link_to(event.name, user_event_path(event.user_id, event.id))) %>
                            </ul>
                            <% end %>
                        <% end %>
                  </div>

                  <div role="tabpanel" class="tab-pane" id="events-past">
                      <% if @user_data[:events][:past].any? %>
                            <% @user_data[:events][:past].each do |event| %>
                            <ul>
                                <%= content_tag(:li, link_to(event.name, user_event_path(event.user_id, event.id))) %>
                            </ul>
                            <% end %>
                        <% end %>
                  </div>

              </div>

            </div> 
        <% end %>

        <% if @user.performer %>
            <div>
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#performances-future" aria-controls="performances-future" role="tab" data-toggle="tab">Performing</a></li>
                <li role="presentation"><a href="#performances-past" aria-controls="performances-past" role="tab" data-toggle="tab">Performed</a></li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">

                  <div role="tabpanel" class="tab-pane active" id="performances-future">
                      <% if @user_data[:performances][:scheduled].any? %>
                        <ul>
                            <% @user_data[:performances][:scheduled].each do |performance| %>
                                <%= content_tag(:li, link_to(performance.name, user_event_path(performance.user_id, performance.id))) %>
                            <% end %>
                        </ul>
                    <% end %>
                  </div>

                  <div role="tabpanel" class="tab-pane" id="performances-past">
                      <% if @user_data[:performances][:past].any? %>
                        <ul>
                            <% @user_data[:performances][:past].each do |performance| %>
                                <%= content_tag(:li, link_to(performance.name, user_event_path(performance.user_id, performance.id))) %>
                            <% end %>
                        </ul>
                    <% end %>
                  </div>

              </div>

            </div> 
        <% end %>

            </div>

</div>
<% if user_signed_in? && can_invite_to_event? %>
    <%= render "invitations/send_invitation_to_performer" %>
<% end %>



<% if user_signed_in? && can_edit?(@user) %>
    <h3>Dashboard</h3>
    <div>

      <!-- nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a href="#me" aria-controls="me" role="tab" data-toggle="tab">Me</a></li>
        <li role="presentation" class="active"><a href="#inbox" aria-controls="inbox" role="tab" data-toggle="tab">Inbox</a></li>
        <li role="presentation"><a href="#outbox" aria-controls="outbox" role="tab" data-toggle="tab">Outbox</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

          <div role="tabpanel" class="tab-pane" id="me">
              <h4>Accepted</h4>
              <sub>Invitations I accepted</sub>
                <%= render "users/invitation_table", from: true, th_text: "From", invitations: @admin_data[:accepted], buttons: false %>
              <h4>Rejected</h4>
              <sub>Invitations I rejected</sub>
                <%= render "users/invitation_table", from: true, th_text: "From", invitations: @admin_data[:rejected], buttons: false %>
                <% if current_user.performer %>
                  <h4>Cancelled</h4>
                  <sub>Cancelled performances</sub>
                    <%= render "users/invitation_table", from: true, th_text: "From", invitations: @admin_data[:cancelled], buttons: false %>
                <% end %>
          </div>

          <div role="tabpanel" class="tab-pane active" id="inbox">
              <h4>Invitations</h4>
              <sub>Invitations sent to you</sub>
                <%= render "users/invitation_table", from: true, th_text: "From", invitations: @admin_data[:inbox], buttons: true %>
              <h4>Confirmed</h4>
              <sub>Invitations confirmed by others</sub>
                <%= render "users/invitation_table", from: false, th_text: "From", invitations: @admin_data[:confirmed], buttons: false%>
              <h4>Reviews</h4>
              <sub>Reviews I need to write</sub>
                  <%= render "reviews/review_form", reviews_to_write: @reviews_to_write  %>
          </div>

          <div role="tabpanel" class="tab-pane" id="outbox">
              <h4>Outbox</h4>
              <sub>Invitations I sent</sub>
            <%= render "users/invitation_table", from: false, th_text: "To",  invitations: @admin_data[:outbox], buttons: false %>
              <h4>Turned down</h4>
              <sub>My invitations others turned down</sub>
            <%= render "users/invitation_table", from: false, th_text: "To", invitations: @admin_data[:turned_down], buttons: false%>
          </div>

      </div>

    </div> 

<% end %>
