    <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <%= link_to "Dignus", root_path, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <%= content_tag(:li, (link_to "Search", search_index_path, class: 'navbar-link')) %>
        <%= content_tag(:li, (link_to "Events", events_path, class: 'navbar-link')) %>
        <%= content_tag(:li, (link_to "Performers", performers_path, class: 'navbar-link')) %>

        <% if user_signed_in? %>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">          <%= content_tag(:span, invitations_count, class: 'badge') if invitations_count > 0 %>
              <%= image_tag(current_user.avatar.url(:thumb_nav)) %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <% if user_signed_in? %>
                    <%= content_tag(:li, link_to("Dashboard", user_dashboard_path(current_user.id), class: 'navbar-link')) %>
                    <%= content_tag(:li, link_to("Profile", user_path(current_user.id), class: 'navbar-link')) %>
                <% end %>

                <% if user_signed_in? && current_user.organizer %>
                <%= content_tag(:li, (link_to "Add event", new_user_event_path(current_user), class: 'navbar-link') ) %>
                <% end %>

                <% if user_signed_in? %>
                    <%= content_tag( :li, link_to((I18n.t :sign_out), destroy_user_session_path, method: :delete, class: 'navbar-link') ) %>
                <% end %>

            </ul>
        </li>
        <% else %>
            <%= content_tag( :li, link_to((I18n.t :sign_in), new_user_session_path, class: 'navbar-link') ) %>
      <% end %>



      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
