
<div class="row">
        <%= form_for event, { url: url } do |f| %>
    <div class="col-md-4">
            <div class="form-group">
                <h4>Poster
                    <small>Upload custom poster</small>
                </h4>
                <%= f.file_field :poster %>
            </div>
    </div>
    <div class="col-md-4">

            <div class="form-group">
                <h4>Name
                    <small>What is your event called</small>
                </h4>
                <%= f.text_field :name, class: 'form-control' %>
            </div>

            <div class="form-group">
                <h4>Description
                    <small>What is happening here? Any supporting acts?</small>
                </h4>
                <%= f.text_area :description, class: 'form-control', rows: 7 %>
            </div>

            <div class="form-group">
                <h4>Venue
                    <small>Name of the club, venue or place</small>
                </h4>
                <%= text_field_tag 'event[venue]', event.location_id, class: 'form-control', id: 'searchTextField' %>
                <%= hidden_field_tag 'event[place_lat]', "", id: 'place_latitude' %>
                <%= hidden_field_tag 'event[place_lng]', "", id: 'place_longitude' %>
                <%= hidden_field_tag 'event[place_id]', "", id: 'place_id' %>
                <%= hidden_field_tag 'event[place_name]', "", id: 'place_name' %>
                <%= hidden_field_tag 'event[place_address]', "", id: 'place_address' %>
                <%= hidden_field_tag 'event[place_website]', "", id: 'place_website' %>
                <%= hidden_field_tag 'event[place_url]', "", id: 'place_url' %>
            </div>


                <h4>Start
                    <small>When does the event start?</small>
                </h4>
            <div class='form-group input-group date' id='datetimepicker1'>
                <%= f.text_field :start_time, class: 'form-control' %>
                <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
                <h4>End
                    <small>When is it finished?</small>
                </h4>
            <div class='form-group input-group date' id='datetimepicker2'>
                <%= f.text_field :end_time, class: 'form-control' %>
                <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>

            <div class="form-group">
                <h4>Tags
                    <small>Help others to find your event (genre, category, style)</small>
                </h4>
                <%= text_field_tag 'event[tag_list]', event.tag_list.join(', '), class: 'form-control', id: 'tagInputField' %> 
            </div>



            <div class="action">
            <%= f.submit button_label, class: 'btn btn-primary' %>
            </div>
        <% end %>
    </div>
    <div class="col-md-4">
    </div>
</div>
