
<div class="row">
        <%= form_for event, { url: url } do |f| %>
    <div class="col-md-4">
            <div class="form-group">
                <h4><%= I18n.t :events_poster %>
                <small><%= I18n.t :events_poster_sub %></small>
                </h4>
                <%= f.file_field :poster %>
            </div>
    </div>
    <div class="col-md-4">

            <div class="form-group">
                <h4><%= I18n.t :name %>
                    <small><%= I18n.t :events_name_sub %></small>
                </h4>
                <%= f.text_field :name, class: 'form-control' %>
            </div>

            <div class="form-group">
                <h4><%= I18n.t :events_description %>
                    <small><%= I18n.t :events_description_sub %></small>
                </h4>
                <%= f.text_area :description, class: 'form-control', rows: 7 %>
            </div>

            <div class="form-group">
                <h4><%= I18n.t :venue %>
                    <small><%= I18n.t :events_venue_sub %></small>
                </h4>
                <% if event.location %>
                    <%= text_field_tag 'event[venue]', "#{event.location.place_name}, #{event.location.place_address}", class: 'form-control', id: 'searchTextField' %>
                <% else %>
                    <%= text_field_tag 'event[venue]', "", class: 'form-control', id: 'searchTextField' %>
                <% end %>
                <%= hidden_field_tag 'event[place_lat]', event.location ? event.location.latitude : nil , id: 'place_latitude' %>
                <%= hidden_field_tag 'event[place_lng]', event.location ? event.location.longitude : nil, id: 'place_longitude' %>
                <%= hidden_field_tag 'event[place_id]', event.location ? event.location.place_id : nil, id: 'place_id' %>
                <%= hidden_field_tag 'event[place_name]', event.location ? event.location.place_name : nil, id: 'place_name' %>
                <%= hidden_field_tag 'event[place_address]', event.location ? event.location.place_address : nil, id: 'place_address' %>
                <%= hidden_field_tag 'event[place_website]', event.location ? event.location.place_website : nil, id: 'place_website' %>
                <%= hidden_field_tag 'event[place_url]', event.location ? event.location.place_url : nil, id: 'place_url' %>
            </div>


                <h4><%= I18n.t :start %>
                    <small><%= I18n.t :events_venue_start_sub %></small>
                </h4>
            <div class='form-group input-group date' id='datetimepicker1'>
                <%= f.text_field :start_time, class: 'form-control' %>
                <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
                <h4><%= I18n.t :end %>
                    <small><%= I18n.t :events_venue_end_sub %></small>
                </h4>
            <div class='form-group input-group date' id='datetimepicker2'>
                <%= f.text_field :end_time, class: 'form-control' %>
                <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>

            <div class="form-group">
                <h4><%= I18n.t :tags %>
                    <small><%= I18n.t :events_tags_sub %></small>
                </h4>
                <%= text_field_tag 'event[tag_list]', event.tag_list.join(', '), class: 'form-control', id: 'tagInputField' %> 
            </div>



            <div class="action">
            <%= f.submit button_label, class: 'btn btn-primary' %>
            </div>
        <% end %>
    </div>
    <div class="col-md-4">
    </div>
</div>
