<h1>Events</h1>

<% if @events.any? %>
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Start</th>
                <th>Venue</th>
                <th>Organizer</th>
            </tr>
        </thead>
        <tbody>
            <% @events.each do |event| %>
                <tr>
                    <td><%= image_tag(event.poster.url(:thumb)) %></td>
                    <td><%= link_to("#{event.name}", user_event_path(event.user_id, event.id)) %></td>
                    <td><%= event.start_time %></td>
                    <td><%= event.venue %></td>
                    <td><%= link_to("#{User.find_by(id: event.user_id).name}", user_path(event.user_id)) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>
