<h1>Add new event</h1>

<%= form_for @event, url: user_events_path do |f| %>
    <div class="form-group">
        <%= f.label 'Event name' %>
        <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label 'Event description' %>
        <%= f.text_field :description, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label 'Start time' %>
        <%= f.date_field :start, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label 'End time' %>
        <%= f.date_field :end, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label 'Venue' %>
        <%= f.text_field :venue, class: 'form-control' %>
    </div>
    <div class="form-group">
    <%= f.submit "Add event", class: 'btn btn-primary' %>
    </div>
<% end %>
