<div class="container">
    <h1><%= @event.name %></h1>

    <div class="row">

        <div class="col-md-6">
            <div class="event-poster">
                <%= image_tag(@event.poster.url(:medium), class: 'img-responsive') %>
            </div>
        </div>

        <div class="col-md-6">

            <div>
                <b>Venue: </b><%= @event.venue %>
            </div>

            <div>
                <b>Organizer: </b><%= link_to(@organizer.name, user_path(@organizer.id)) %>
            </div>

            <div>
                <p>
                    <b>Start time:</b> <%= @event.start_time.strftime("%d. %m. %Y %H:%M") %>
                </p>
                <p>
                    <b>End time:</b> <%= @event.end_time.strftime("%d. %m. %Y %H:%M") %>
                </p>
            </div>

            <div>
                <%= @event.description %>
            </div>

            <% if @performers.any? %>
                <p><b>Performers: </b></p>
                <ul>
                    <% @performers.each do |performer, invitation| %>
                        <p>
                            <li>
                                <%= link_to(performer.name, user_path(performer.id)) %>
                                <% if event_not_locked?(@event) %>
                                    <%= render "events/event_delete_performer", invitation_id: invitation, performer_id: performer.id %>
                                <% end %>
                            </li>
                        </p>
                    <% end %>
                </ul>
            <% end %>

            <% if user_signed_in? && event_not_locked?(@event) %>
                <% if current_user.performer %>
                    <%= render 'invitations/send_invitation_to_organizer' %>
                <% end %>

                <% if can_edit?(@event.user) %>
                    <%= form_tag(edit_user_event_path(current_user, @event.id), {:method => 'get'}) do %>
                        <% submit_tag "Edit", class: 'btn btn-primary' %>
                    <% end %>
                <% end %>
            <% end %>

        </div>
    </div>
</div>
