<h1><%= @event.name %></h1>


<div>
    <b>Venue: </b><%= @event.venue %>
</div>

<div>
    <%= @event.description %>
</div>

<div>
    <p>
        <b>Start time:</b> <%= @event.start %>
    </p>
    <p>
        <b>End time:</b> <%= @event.end%>
    </p>
</div>

<% if can_edit?(@event.user) %>
    <%= link_to "Edit", edit_user_event_path(current_user, @event.id) %>
<% end %>
