<h1><%= @event.name %></h1>


<div>
    <b>Venue: </b><%= @event.venue %>
</div>

<div>
    <%= @event.description %>
</div>

<div>
    <p>
        <b>Start time:</b> <%= @event.start_time %>
    </p>
    <p>
        <b>End time:</b> <%= @event.end_time %>
    </p>
</div>

<% if @performers.any? %>
    <p><b>Performers: </b></p>
    <div>
        <% @performers.each do |performer| %>
            <%= content_tag(:p, link_to(performer.name, user_path(performer.id))) %>
        <% end %>
    </div>
<% end %>

<% if user_signed_in? %>
    <% if current_user.performer %>
        <%= render 'invitations/send_invitation_to_organizer' %>
    <% end %>

    <% if can_edit?(@event.user) %>
        <%= link_to "Edit", edit_user_event_path(current_user, @event.id) %>
    <% end %>
<% end %>

