<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1><%= @event.name %></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="tag-list">
                <%= list_tags(@event) %>
            </div>
        </div>
        <div class="col-md-6">
        </div>
    </div>

    <div class="row">

        <div class="col-md-4">
            <div class="event-poster">
                <%= image_tag(@event.poster.url(:medium), class: 'img-responsive') %>
            </div>
        </div>

        <div class="col-md-4">

            <div>
                <dl class="event-details">
                    <dt><%= I18n.t :event_organizer %></dt>
                    <dd><%= link_to(@organizer.name, user_path(@organizer.id)) %></dd>
                    <dt><%= I18n.t :start %></dt>
                    <dd><%= @event.start_time.strftime("%d. %m. %Y %H:%M") %></dd>
                    <dt><%= I18n.t :end %></dt>
                    <dd><%= @event.end_time.strftime("%d. %m. %Y %H:%M") %></dd>
                </dl>
            </div>

            <div class="event-description">
                <%= @event.description %>
            </div>

            <% if @performers.any? %>
                <dl class="performers-list"> 
                    <dt><%= I18n.t :event_performers %></dt>
                    <% @performers.each do |performer, invitation| %>
                        <dd>
                            <%= link_to(performer.name, user_path(performer.id)) %>
                            <% if event_not_locked?(@event) %>
                                <%= render "events/event_delete_performer", invitation_id: invitation, performer_id: performer.id %>
                            <% end %>
                        </dd>
                    <% end %>
                </ul>
            <% end %>
                </dl>

            <% if user_signed_in? && event_not_locked?(@event) %>
                <% if current_user.performer %>
                    <%= render 'invitations/send_invitation_to_organizer' %>
                <% end %>

                <% if can_edit?(@event.user) %>
                    <%= form_tag(edit_user_event_path(current_user, @event.id), {:method => 'get'}) do %>
                        <% submit_tag I18n.t(:edit_button), class: 'btn btn-primary' %>
                    <% end %>
                <% end %>
            <% end %>

        </div>

        <div class="col-md-4">
            <%= render "venues/venue_details", location: @event.location %>
        </div>
    </div>
</div>
