<div class="invitation-panel">
    <%= form_tag(controller: "invitations", action: "create", method: "post", class: "create_invitation") do %>
        <% if invitation_exists?(@event, current_user) %>
            <%= submit_tag I18n.t(:invitation_sent), class: 'btn btn-primary disabled', disabled: true %>
        <% elsif current_user.already_invited?(@event) %>
            <%= submit_tag I18n.t(:invitation_invited), class: 'btn btn-success disabled', disabled: true %>
        <% else %>
        <%= hidden_field_tag 'invitation[event_id]', params[:id] %>
        <%= hidden_field_tag 'invitation[to]', params[:user_id] %>
        <%= submit_tag I18n.t(:invitation_send_button), class: 'btn btn-primary' %>
        <% end %>
    <% end %>
</div>
