<div class="event-venue">
    <dl class="event-details">
        <dt>Venue</dt>
        <dd><%= link_to(location.place_name, venue_path(location.id)) %></dd>
        <dt>Web</dt>
        <dd><%= link_to(location.place_website, location.place_website) %></dd>
        <dt>Address</dt>
        <dd><%= link_to(location.place_address, location.place_url) %></dd>
    </dl>
    <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= "#{location.latitude},#{location.longitude}"%>&markers=<%= "#{location.latitude},#{location.longitude}"%>&size=500x400&zoom=17" alt="" class="img-responsive">
</div>
