<div class="event-venue">
    <dl class="event-details">
        <dt><%= I18n.t :venue %></dt>
        <dd><%= link_to(location.place_name, venue_path(location.id)) %></dd>
        <% unless location.place_website.nil? %>
        <dt><%= I18n.t :contents_website %></dt>
        <dd><%= link_to(location.place_website, location.place_website) %></dd>
        <% end %>
        <dt><%= I18n.t :address %></dt>
        <dd><%= link_to(location.place_address, location.place_url) %></dd>
    </dl>
    <% if location.latitude && location.longitude %>
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= "#{location.latitude},#{location.longitude}"%>&markers=<%= "#{location.latitude},#{location.longitude}"%>&size=500x400&zoom=17" alt="" class="img-responsive">
    <% end %>
</div>
