<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3><%= I18n.t :discover_heading %>
                <% if @current_location %>
                    <p>
                    <small>
                        <%= "#{I18n.t :discover_sub} #{@current_location.place_name}" %>
                    </small>
                    </p>
                <% end %>
            </h3>

        </div>
    </div>

    <% if current_user.location_id %>
    <div class="row">
        <div class="col-md-6">
            <h4><%= I18n.t :events %></h4>
            <%= render "events/event_mini_list", events: @events_nearby_upcoming %>
        </div>

        <div class="col-md-6">
            <h4><%= I18n.t :users %></h4>
            <%= render "users/users_mini_list", users: @users_nearby %>
        </div>
    </div>
    <% else %>
        <div class="row">
            <div class="col-md-12">
                <em><%= I18n.t :discover_no_location_specified %></em>
                <%= link_to(I18n.t(:discover_user_profile), user_path(current_user.id)) %>
            </div>
        </div>
    <% end %>
</div>
