<div class="container-fluid">
    <div class="row">

        <% unless user_signed_in? %>
        <div class="col-md-6 marketing1">

                <div class="filler"></div>
                <div class="wrapper">
                <h4><%= I18n.t :organizer_heading %></h4>
                    <p><%= I18n.t :organizer_sub %></p>
                  <%= render "shared/organizer_button" %>

                  <div class="more-button" id="show-organizer-more"></div>

                    <div class="more" id="organizer-more">
                        <p class="more"><%= I18n.t :how_does_it_work %></p>
                        <ol>
                            <li><%= I18n.t :organizer_howto_1 %></li>
                            <li><%= I18n.t :organizer_howto_2 %></li>
                            <li><%= I18n.t :organizer_howto_3 %></li>
                            <li><%= I18n.t :organizer_howto_4 %></li>
                            <li><em><%= I18n.t :organizer_howto_5 %></em></li>
                        </ol>
                    </div>

                </div>


        </div>

        <div class="col-md-6 marketing2">

                <div class="filler"></div>
                <div class="wrapper">
                <h4><%= I18n.t :performer_heading %></h4>
                <p><%= I18n.t :performer_sub %></p>
                  <%= render "shared/performer_button" %>

                      <div class="more-button" id="show-performer-more"></div>

                    <div class="more" id="performer-more">
                        <p class"more"><%= I18n.t :how_does_it_work %></p>
                        <ol>
                            <li><%= I18n.t :performer_howto_1 %></li>
                            <li><%= I18n.t :performer_howto_2 %></li>
                            <li><%= I18n.t :performer_howto_3 %></li>
                            <li><%= I18n.t :performer_howto_4 %></li>
                            <li><em><%= I18n.t :performer_howto_5 %></em></li>
                        </ol>
                    </div>

                </div>

        </div>
        <% end %>

    </div>
</div>
