<!DOCTYPE html>
<html>
<head>
  <title>Dignus</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://maps.googleapis.com/maps/api/js?v=3&libraries=places" defer></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "shared/navbar" %>

<div class="flash">
    <%= flash_messages %>
</div>

<%= yield %>

</body>
</html>
